{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "flow-react-proptypes",
    "styled-components"
  ]
}
